<div class="summary-card-wrapper">
	<div class="summary-card">
		<div class="thumbnail">
			<a href="[post_url]">
        <img width="150" height="150" src="[thumbnail_url]" class="attachment-thumbnail size-thumbnail" alt="[alt_text]" decoding="async" loading="lazy">
      </a>
		</div>
		<div class="title">
			<a href="[post_url]">
        [title]
      </a>
		</div>
		<div class="conference_details">
			<a href="https://history.siggraph.org/conference/siggraph-2022-49th-annual-conference-on-computer-graphics-and-interactive-techniques/">
        [conference]
      </a>
		</div>
		<div class="volume details">
			<span>[volume]</span>
		</div>
		<div class="categories details">
			<span>
        <a href="https://history.siggraph.org/learning-publication-view-all/">
          [category]
        </a>
      </span>
			<span>
        <a href="https://history.siggraph.org/proceeding-view-all/">
          [proceeding]
        </a>
      </span>
		</div>
	</div>
</div>
